.project-list {
    /* color: antiquewhite; */
    text-align: center;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #dbdbdb;
    position: relative;
}

.no-project {

   
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    
}


/* .button {
    width: 50px;
    text-align: center;
} */